<h1>Index</h1>

<%= link_to 'New Article', new_article_path if logged_in?(:site_admin) %><br />

<hr />

<% @articles.each do |article| %>
  <p>
    <%= link_to article.title, article_path(article)%>
  </p>
<% end %>
