<div>
  <%= link_to'Edit', edit_article_path(@article) %> 
</div>

<div>
  <p>Title:</p>
  <%= @article.title %>
</div>

<div>
  <p>Content:</p>
  <%= @article.content %>
</div>

<br />

<hr />

<%= link_to 'Articles', articles_path %>
