<nav class="navbar navbar-md navbar-inverse fixed-top bg-inverse">
  <a class="navbar-brand" id="wiki-logo">Wiki</a>
  <div>
    <ul class="navbar-nav mr-auto nav-stuff">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'app-link' %>
        <a ><%= login_helper %></a>
      </li>
    </ul>
  </div>
</nav>
